POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB_NAME=deeplynx
POSTGRES_DB_HOST=localhost
POSTGRES_PORT=5432
ENABLE_KUZU=False

# values can be filesystem, azure_object, and aws_s3
FILE_STORAGE_METHOD=filesystem
FILESYSTEM_STORAGE_DIRECTORY=./../storage/

AZURE_BLOB_CONNECTION_STRING=
AZURE_BLOB_CONTAINER_NAME=deep-lynx
