POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB_NAME=deeplynx
POSTGRES_DBHOST=localhost
POSTGRES_PORT=5432
ENABLE_KUZU=False
DUCKDB_BASE_PATH=../duckdb/

# values can be filesystem, azure_object, and aws_s3
FILE_STORAGE_METHOD=filesystem

STORAGE_DIRECTORY=../storage/
AZURE_OBJECT_CONNECTION_STRING=azure-example-connection-string
AWS_S3_CONNECTION_STRING=aws-example-connection-string
