*.bak
*.env
*.log
*.zip
dist
uploads


## Mac OS ##
.DS_Store
.idea

## VS Code ##
.vscode

## Web ##
/deeplynx.api/.DS_Store
/deeplynx.api/.idea


## Web ##
/**/obj/
/**/bin/


package-lock.json

deeplynx.sln.DotSettings.user

TimeSeries.db
