*.bak
*.env
*.log
*.zip
dist

## Mac OS ##
.DS_Store
.idea

## VS Code ##
.vscode

## Web ##
/deeplynx.api/.DS_Store
/deeplynx.api/.idea


## Web ##
/deeplynx.api/bin/Release
/deeplynx.api/bin/Debug
/deeplynx.api/bin/Publish
/deeplynx.business/bin/Publish
/deeplynx.business/bin/Release
/deeplynx.business/bin/Debug

/deeplynx.datalayer/bin/Release
/deeplynx.datalayer/bin/Debug
/deeplynx.datalayer/bin/Publish
/deeplynx.helpers/bin/Publish
/deeplynx.helpers/bin/Release
/deeplynx.helpers/bin/Debug
/deeplynx.interfaces/bin/Release
/deeplynx.interfaces/bin/Debug
/deeplynx.interfaces/bin/Publish
/deeplynx.modesls/bin/Publish
/deeplynx.models/bin/Release
/deeplynx.models/bin/Debug


bin

package-lock.json


/deeplynx.api/appsettings.Development.json
