{
  "openapi": "3.1.1",
  "info": {
    "title": "DeepLynx Nexus API",
    "description": "DeepLynx Nexus API for managing organizational data and relationships. Endpoints are organized by Organization-level (/api/organizations/{organizationId}) and Project-level (/api/projects/{projectId}) scopes.",
    "contact": {
      "name": "Nexus Support",
      "email": "Jaren.Brownlee@inl.gov"
    },
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://deeplynx.inl.gov/api/v1/",
      "description": "Production"
    },
    {
      "url": "https://deeplynx.dev.inl.gov/api/v1/",
      "description": "Develop"
    },
    {
      "url": "https://deeplynx-test.dev.inl.gov/api/v1/",
      "description": "Test"
    },
    {
      "url": "http://localhost:5000/api/v1/",
      "description": "Docker Environment"
    },
    {
      "url": "http://localhost:5095/api/v1/",
      "description": "Local Development"
    }
  ],
  "paths": {
    "/oauth/authorize": {
      "get": {
        "tags": [
          "OauthHandshake"
        ],
        "summary": "Oauth 2.0 Authorization Endpoint",
        "description": "This endpoint requires authentication. The Next.js proxy ensures the user\nis authenticated before forwarding the request here.",
        "operationId": "api_oauth_authorize",
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "redirect_uri",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "CSRF protection token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Redirects to callback URL with authorization code"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/oauth/exchange": {
      "post": {
        "tags": [
          "OauthHandshake"
        ],
        "summary": "Oauth 2.0 Token Endpoint",
        "description": "This endpoint does not require user authentication. It uses client credentials\n(client_id and client_secret) to authenticate the OAuth application.",
        "operationId": "api_oauth_exchange",
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "description": "The authorization code received from the authorize endpoint",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "client_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "client_secret",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "redirect_uri",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "The same CSRF state used in the authorize request",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expiration",
            "in": "query",
            "description": "(Optional) token expiration time in minutes (default: 480)",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)(?:\\.\\d+)?(?:[eE][+-]?\\d+)?$",
              "type": [
                "number",
                "string"
              ],
              "format": "double"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "JSON response with access token or error"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/organizations/{organizationId}/classes": {
      "get": {
        "tags": [
          "Organization - Class"
        ],
        "summary": "Get All Classes",
        "operationId": "api_get_all_classes_organization",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "The ID of the organization to which the class's project belongs",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "projectIds",
            "in": "query",
            "description": "(Optional)An array of project IDs within the organization to filter by",
            "schema": {
              "type": "array",
              "items": {
                "pattern": "^-?(?:0|[1-9]\\d*)$",
                "type": [
                  "integer",
                  "string"
                ],
                "format": "int64"
              }
            }
          },
          {
            "name": "hideArchived",
            "in": "query",
            "description": "Flag indicating whether to hide archived classes from the result (Default true)",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of class response DTOs",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ClassResponseDto"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ClassResponseDto"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ClassResponseDto"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "post": {
        "tags": [
          "Organization - Class"
        ],
        "summary": "Create a Class",
        "operationId": "api_create_a_class_organization",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "The ID of the organization to which the class's project belongs",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "description": "The request DTO for classes",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateClassRequestDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateClassRequestDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateClassRequestDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Class response DTOs",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ClassResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClassResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClassResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/organizations/{organizationId}/classes/{classId}": {
      "get": {
        "tags": [
          "Organization - Class"
        ],
        "summary": "Get a Class",
        "operationId": "api_get_a_class_organization",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "The ID of the organization to which the class's project belongs",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "classId",
            "in": "path",
            "description": "The ID of the class to retrieve",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "hideArchived",
            "in": "query",
            "description": "Flag indicating whether to hide archived classes from the result (Default true)",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Class response DTO",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ClassResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClassResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClassResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "put": {
        "tags": [
          "Organization - Class"
        ],
        "summary": "Update a Class",
        "operationId": "api_update_a_class_organization",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "The ID of the organization to which the class's project belongs",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "classId",
            "in": "path",
            "description": "The ID of the class to update",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "description": "The request DTO for the class",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateClassRequestDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateClassRequestDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateClassRequestDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Class response DTO",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ClassResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClassResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClassResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "delete": {
        "tags": [
          "Organization - Class"
        ],
        "summary": "Delete a Class",
        "operationId": "api_delete_a_class_organization",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "The ID of the organization to which the class's project belongs",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "classId",
            "in": "path",
            "description": "The ID of the class to delete.",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A message stating the class was successfully deleted."
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "patch": {
        "tags": [
          "Organization - Class"
        ],
        "summary": "Archive or Unarchive a Class",
        "operationId": "api_archive_class_organization",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "The ID of the organization to which the class's project belongs",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "classId",
            "in": "path",
            "description": "The ID of the class to archive or unarchive.",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "archive",
            "in": "query",
            "description": "True to archive the class, false to unarchive it.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A message stating the class was successfully archived or unarchived."
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/organizations/{organizationId}/classes/bulk": {
      "post": {
        "tags": [
          "Organization - Class"
        ],
        "summary": "Bulk Create Classes",
        "operationId": "api_create_many_classes_organization",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "The ID of the organization to which the class's project belongs",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "description": "List of request DTOs for classes",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CreateClassRequestDto"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CreateClassRequestDto"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CreateClassRequestDto"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Bulk class response DTOs",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ClassResponseDto"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ClassResponseDto"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ClassResponseDto"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/projects/{projectId}/classes": {
      "get": {
        "tags": [
          "Project - Class"
        ],
        "summary": "Get All Classes",
        "operationId": "api_get_all_classes_project",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The ID of the project to which the class belongs",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "hideArchived",
            "in": "query",
            "description": "Flag indicating whether to hide archived classes from the result (Default true)",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of class response DTOs",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ClassResponseDto"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ClassResponseDto"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ClassResponseDto"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "post": {
        "tags": [
          "Project - Class"
        ],
        "summary": "Create a Class",
        "operationId": "api_create_a_class_project",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The ID of the project to which the class belongs",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "description": "The request DTO for classes",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateClassRequestDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateClassRequestDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateClassRequestDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Class response DTOs",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ClassResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClassResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClassResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/projects/{projectId}/classes/{classId}": {
      "get": {
        "tags": [
          "Project - Class"
        ],
        "summary": "Get a Class",
        "operationId": "api_get_a_class_project",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The ID of the project to which the class belongs",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "classId",
            "in": "path",
            "description": "The ID of the class to retrieve",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "hideArchived",
            "in": "query",
            "description": "Flag indicating whether to hide archived classes from the result (Default true)",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Class response DTO",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ClassResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClassResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClassResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "put": {
        "tags": [
          "Project - Class"
        ],
        "summary": "Update a Class",
        "operationId": "api_update_a_class_project",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The ID of the project to which the class belongs",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "classId",
            "in": "path",
            "description": "The ID of the class to update",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "description": "The request DTO for the class",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateClassRequestDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateClassRequestDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateClassRequestDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Class response DTO",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ClassResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClassResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClassResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "delete": {
        "tags": [
          "Project - Class"
        ],
        "summary": "Delete a Class",
        "operationId": "api_delete_a_class_project",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The ID of the project to which the class belongs",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "classId",
            "in": "path",
            "description": "The ID of the class to delete.",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A message stating the class was successfully deleted."
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "patch": {
        "tags": [
          "Project - Class"
        ],
        "summary": "Archive or Unarchive a Class",
        "operationId": "api_archive_class_project",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The ID of the project to which the class belongs",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "classId",
            "in": "path",
            "description": "The ID of the class to archive or unarchive.",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "archive",
            "in": "query",
            "description": "True to archive the class, false to unarchive it.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A message stating the class was successfully archived or unarchived."
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/projects/{projectId}/classes/bulk": {
      "post": {
        "tags": [
          "Project - Class"
        ],
        "summary": "Bulk Create Classes",
        "operationId": "api_create_many_classes_project",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The ID of the project to which the class belongs",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "description": "List of request DTOs for classes",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CreateClassRequestDto"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CreateClassRequestDto"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CreateClassRequestDto"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Bulk class response DTOs",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ClassResponseDto"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ClassResponseDto"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ClassResponseDto"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/organizations/{organizationId}/datasources": {
      "get": {
        "tags": [
          "Organization - DataSource"
        ],
        "summary": "Get All Data Sources",
        "operationId": "api_get_all_data_sources_organization",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "The ID of the organization to which the projectID belongs",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "projectIds",
            "in": "query",
            "description": "(Optional)An array of project IDs within the organization to filter by",
            "schema": {
              "type": "array",
              "items": {
                "pattern": "^-?(?:0|[1-9]\\d*)$",
                "type": [
                  "integer",
                  "string"
                ],
                "format": "int64"
              }
            }
          },
          {
            "name": "hideArchived",
            "in": "query",
            "description": "Flag indicating whether to hide archived data sources from the result (Default true)",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of data sources for the given project.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DataSourceResponseDto"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DataSourceResponseDto"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DataSourceResponseDto"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "post": {
        "tags": [
          "Organization - DataSource"
        ],
        "summary": "Create a Data Source",
        "operationId": "api_create_a_data_source_for_organization",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "The ID of the organization to which the projectID belongs",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "description": "The data transfer object containing data source details",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDataSourceRequestDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDataSourceRequestDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDataSourceRequestDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The created data source",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/DataSourceResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataSourceResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataSourceResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/organizations/{organizationId}/datasources/{dataSourceId}": {
      "get": {
        "tags": [
          "Organization - DataSource"
        ],
        "summary": "Get a Data Source",
        "operationId": "api_get_a_data_source_organization",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "The ID of the organization to which the projectID belongs",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "dataSourceId",
            "in": "path",
            "description": "The ID whereby to fetch the data source",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "hideArchived",
            "in": "query",
            "description": "Flag indicating whether to hide archived data sources from the result (Default true)",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The data source associated with the given ID",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/DataSourceResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataSourceResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataSourceResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "put": {
        "tags": [
          "Organization - DataSource"
        ],
        "summary": "Update a Data Source",
        "operationId": "api_update_a_data_source_for_organization",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "The ID of the organization to which the projectID belongs",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "dataSourceId",
            "in": "path",
            "description": "The ID of the data source to update",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "description": "The data transfer object containing updated data source details",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDataSourceRequestDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDataSourceRequestDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDataSourceRequestDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The newly updated data source",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/DataSourceResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataSourceResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataSourceResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "delete": {
        "tags": [
          "Organization - DataSource"
        ],
        "summary": "Delete a Data Source",
        "operationId": "api_delete_a_data_source_for_organization",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "The ID of the organization to which the projectID belongs",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "dataSourceId",
            "in": "path",
            "description": "The ID of the data source to delete",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A message stating the data source was successfully deleted."
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "patch": {
        "tags": [
          "Organization - DataSource"
        ],
        "summary": "Archive or Unarchive a Data Source",
        "operationId": "api_archive_data_source_for_organization",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "The ID of the organization to which the projectID belongs",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "dataSourceId",
            "in": "path",
            "description": "The ID of the data source to archive or unarchive",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "archive",
            "in": "query",
            "description": "True to archive the data source, false to unarchive it.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A message stating the data source was successfully archived or unarchived."
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/organizations/{organizationId}/datasources/default": {
      "get": {
        "tags": [
          "Organization - DataSource"
        ],
        "summary": "Get Default Data Source",
        "operationId": "api_get_default_data_source_for_organization",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "The ID of the organization to which the projectID belongs",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The default data source for the project",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/DataSourceResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataSourceResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataSourceResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/organizations/{organizationId}/datasources/{dataSourceId}/default": {
      "patch": {
        "tags": [
          "Organization - DataSource"
        ],
        "summary": "Set Default Data Source",
        "operationId": "api_set_default_data_source_for_organization",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "The ID of the organization to which the projectID belongs",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "dataSourceId",
            "in": "path",
            "description": "The ID of the data source to set as default",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The updated data source",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/DataSourceResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataSourceResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataSourceResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/projects/{projectId}/datasources": {
      "get": {
        "tags": [
          "Project - DataSource"
        ],
        "summary": "Get All Data Sources",
        "operationId": "api_get_all_data_sources_for_project",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The ID of the project whose data sources are to be retrieved",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "hideArchived",
            "in": "query",
            "description": "Flag indicating whether to hide archived data sources from the result (Default true)",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of data sources for the given project.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DataSourceResponseDto"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DataSourceResponseDto"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DataSourceResponseDto"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "post": {
        "tags": [
          "Project - DataSource"
        ],
        "summary": "Create a Data Source",
        "operationId": "api_create_a_data_source_for_project",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The ID of the project to which the data source belongs",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "description": "The data transfer object containing data source details",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDataSourceRequestDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDataSourceRequestDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDataSourceRequestDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The created data source",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/DataSourceResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataSourceResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataSourceResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/projects/{projectId}/datasources/{dataSourceId}": {
      "get": {
        "tags": [
          "Project - DataSource"
        ],
        "summary": "Get a Data Source",
        "operationId": "api_get_a_data_source_for_project",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The ID of the project to which the data source belongs",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "dataSourceId",
            "in": "path",
            "description": "The ID whereby to fetch the data source",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "hideArchived",
            "in": "query",
            "description": "Flag indicating whether to hide archived data sources from the result (Default true)",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The data source associated with the given ID",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/DataSourceResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataSourceResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataSourceResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "put": {
        "tags": [
          "Project - DataSource"
        ],
        "summary": "Update a Data Source",
        "operationId": "api_update_a_data_source_for_project",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The ID of the project to which the data source belongs",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "dataSourceId",
            "in": "path",
            "description": "The ID of the data source to update",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "description": "The data transfer object containing updated data source details",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDataSourceRequestDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDataSourceRequestDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDataSourceRequestDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The newly updated data source",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/DataSourceResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataSourceResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataSourceResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "delete": {
        "tags": [
          "Project - DataSource"
        ],
        "summary": "Delete a Data Source",
        "operationId": "api_delete_a_data_source_for_project",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The ID of the project to which the data source belongs",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "dataSourceId",
            "in": "path",
            "description": "The ID of the data source to delete",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A message stating the data source was successfully deleted."
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "patch": {
        "tags": [
          "Project - DataSource"
        ],
        "summary": "Archive or Unarchive a Data Source",
        "operationId": "api_archive_data_source_for_project",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The ID of the project to which the data source belongs",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "dataSourceId",
            "in": "path",
            "description": "The ID of the data source to archive or unarchive",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "archive",
            "in": "query",
            "description": "True to archive the data source, false to unarchive it.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A message stating the data source was successfully archived or unarchived."
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/projects/{projectId}/datasources/default": {
      "get": {
        "tags": [
          "Project - DataSource"
        ],
        "summary": "Get Default Data Source",
        "operationId": "api_get_default_data_source_for_project",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The ID of the project to which the data source belongs",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The default data source for the project",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/DataSourceResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataSourceResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataSourceResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/projects/{projectId}/datasources/{dataSourceId}/default": {
      "patch": {
        "tags": [
          "Project - DataSource"
        ],
        "summary": "Set Default Data Source",
        "operationId": "api_set_default_data_source_for_project",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The ID of the project to which the data source belongs",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "dataSourceId",
            "in": "path",
            "description": "The ID of the data source to set as default",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "isDefault",
            "in": "query",
            "description": "True to set as default, false to unset as default.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The updated data source",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/DataSourceResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataSourceResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataSourceResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/organizations/{organizationId}/projects/{projectId}/edges": {
      "get": {
        "tags": [
          "Edge"
        ],
        "summary": "Get All Edges",
        "operationId": "api_get_all_edges",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "The ID of the organization to which the project belongs",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "description": "The ID of the project whose edges are to be retrieved",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "dataSourceId",
            "in": "query",
            "description": "(Optional) The ID of the datasource by which to filter edges",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int64"
            }
          },
          {
            "name": "hideArchived",
            "in": "query",
            "description": "Flag indicating whether to hide archived edges from the result (Default true)",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of edges based on the applied filters.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EdgeResponseDto"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EdgeResponseDto"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EdgeResponseDto"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "post": {
        "tags": [
          "Edge"
        ],
        "summary": "Create an Edge",
        "operationId": "api_create_an_edge",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "The ID of the organization to which the project belongs",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "description": "The ID of the project to which the edge belongs",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "dataSourceId",
            "in": "query",
            "description": "The ID of the data source to which the edge belongs",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "description": "The edge request data transfer object containing edge details",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateEdgeRequestDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateEdgeRequestDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateEdgeRequestDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/EdgeResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EdgeResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/EdgeResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/organizations/{organizationId}/projects/{projectId}/edges/{edgeId}": {
      "get": {
        "tags": [
          "Edge"
        ],
        "summary": "Get an Edge by ID",
        "operationId": "api_get_edge_by_id",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "The ID of the organization to which the project belongs",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "description": "The ID of the project to which the edge belongs",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "edgeId",
            "in": "path",
            "description": "The ID of the edge to retrieve",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "hideArchived",
            "in": "query",
            "description": "Flag indicating whether to hide archived edges from the result (Default true)",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The edge associated with the given ID",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/EdgeResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EdgeResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/EdgeResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "put": {
        "tags": [
          "Edge"
        ],
        "summary": "Update an Edge by ID",
        "operationId": "api_update_edge_by_id",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "The ID of the organization to which the project belongs",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "description": "The ID of the project to which the edge belongs",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "edgeId",
            "in": "path",
            "description": "The ID of the edge to update",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "description": "The edge request data transfer object containing updated edge details",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateEdgeRequestDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateEdgeRequestDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateEdgeRequestDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The updated edge response DTO with its details",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/EdgeResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EdgeResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/EdgeResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "delete": {
        "tags": [
          "Edge"
        ],
        "summary": "Delete an Edge by ID",
        "operationId": "api_delete_edge_by_id",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "The ID of the organization to which the project belongs",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "description": "The ID of the project to which the edge belongs",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "edgeId",
            "in": "path",
            "description": "The ID of the edge to delete",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A message stating the edge was successfully deleted."
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "patch": {
        "tags": [
          "Edge"
        ],
        "summary": "Archive or Unarchive an Edge by ID",
        "operationId": "api_archive_edge_by_id",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "The ID of the organization to which the project belongs",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "description": "The ID of the project to which the edge belongs",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "edgeId",
            "in": "path",
            "description": "The ID of the edge to archive or unarchive",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "archive",
            "in": "query",
            "description": "True to archive the edge, false to unarchive it.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A message stating the edge was successfully archived or unarchived."
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/organizations/{organizationId}/projects/{projectId}/edges/by-relationship": {
      "get": {
        "tags": [
          "Edge"
        ],
        "summary": "Get an Edge by Origin and Destination",
        "operationId": "api_get_edge_by_relationship",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "The ID of the organization to which the project belongs",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "description": "The ID of the project to which the edge belongs",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "originId",
            "in": "query",
            "description": "The origin ID of the edge to retrieve",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int64"
            }
          },
          {
            "name": "destinationId",
            "in": "query",
            "description": "The destination ID of the edge to retrieve",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int64"
            }
          },
          {
            "name": "hideArchived",
            "in": "query",
            "description": "Flag indicating whether to hide archived edges from the result (Default true)",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The edge associated with the given origin and destination",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/EdgeResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EdgeResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/EdgeResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "put": {
        "tags": [
          "Edge"
        ],
        "summary": "Update an Edge by Origin and Destination",
        "operationId": "api_update_edge_by_relationship",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "The ID of the organization to which the project belongs",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "description": "The ID of the project to which the edge belongs",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "originId",
            "in": "query",
            "description": "The origin ID of the edge to update",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int64"
            }
          },
          {
            "name": "destinationId",
            "in": "query",
            "description": "The destination ID of the edge to update",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "description": "The edge request data transfer object containing updated edge details",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateEdgeRequestDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateEdgeRequestDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateEdgeRequestDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The updated edge response DTO with its details",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/EdgeResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EdgeResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/EdgeResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "delete": {
        "tags": [
          "Edge"
        ],
        "summary": "Delete an Edge by Origin and Destination",
        "operationId": "api_delete_edge_by_relationship",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "The ID of the organization to which the project belongs",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "description": "The ID of the project to which the edge belongs",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "originId",
            "in": "query",
            "description": "The origin ID of the edge to delete",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int64"
            }
          },
          {
            "name": "destinationId",
            "in": "query",
            "description": "The destination ID of the edge to delete",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A message stating the edge was successfully deleted."
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "patch": {
        "tags": [
          "Edge"
        ],
        "summary": "Archive or Unarchive an Edge by Origin and Destination",
        "operationId": "api_archive_edge_by_relationship",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "The ID of the organization to which the project belongs",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "description": "The ID of the project to which the edge belongs",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "originId",
            "in": "query",
            "description": "The origin ID of the edge to archive or unarchive",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int64"
            }
          },
          {
            "name": "destinationId",
            "in": "query",
            "description": "The destination ID of the edge to archive or unarchive",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int64"
            }
          },
          {
            "name": "archive",
            "in": "query",
            "description": "True to archive the edge, false to unarchive it.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A message stating the edge was successfully archived or unarchived."
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/organizations/{organizationId}/projects/{projectId}/edges/bulk": {
      "post": {
        "tags": [
          "Edge"
        ],
        "summary": "Bulk Create Edges",
        "operationId": "api_create_many_edges",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "The ID of the organization to which the project belongs",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "description": "The ID of the project to which the edges belong",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "dataSourceId",
            "in": "query",
            "description": "The ID of the data source to which the edges belong",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "description": "List of edge request data transfer objects containing edge details",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CreateEdgeRequestDto"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CreateEdgeRequestDto"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CreateEdgeRequestDto"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EdgeResponseDto"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EdgeResponseDto"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EdgeResponseDto"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/events/GetAllEvents": {
      "get": {
        "tags": [
          "Event"
        ],
        "summary": "Get All Events",
        "operationId": "api_get_all_events",
        "parameters": [
          {
            "name": "projectId",
            "in": "query",
            "description": "Optional filter to only include events matching the projectId",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int64"
            }
          },
          {
            "name": "organizationId",
            "in": "query",
            "description": "Optional filter",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponseOfEventResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponseOfEventResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponseOfEventResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/events/QueryEvents": {
      "get": {
        "tags": [
          "Event"
        ],
        "summary": "QueryEvents (Paginated)",
        "operationId": "api_query_events_paginated",
        "parameters": [
          {
            "name": "organizationId",
            "in": "query",
            "description": "The id of the organization",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int64"
            }
          },
          {
            "name": "projectId",
            "in": "query",
            "description": "The id of the project",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int64"
            }
          },
          {
            "name": "LastUpdatedBy",
            "in": "query",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int64"
            }
          },
          {
            "name": "ProjectName",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Operation",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "EntityType",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "EntityName",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "DataSourceName",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "StartDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "EndDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "PageNumber",
            "in": "query",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32"
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
[...]
