# developers- please contact someone on the UI team for the auth/okta credentials

# ---------- Public (safe for browser) ----------
OKTA_ISSUER="https://identity-preview.inl.gov"
NEXTAUTH_URL="http://localhost:3000"
NEXT_PUBLIC_API_URL="http://localhost:5095/api"
NEXT_PUBLIC_REDIRECT_LINK="http://localhost:3000/api/auth/callback/okta"

# ---------- Server-only (never expose to browser) ----------
OKTA_CLIENT_ID=""
OKTA_CLIENT_SECRET=""
NEXTAUTH_SECRET=""


# Use this for build-time/server fetches
BACKEND_BASE_URL="http://localhost:5095/api"
SERVICE_TOKEN=""
NEXTAUTH_DEBUG=true