# developers- please contact someone on the UI team for the auth/okta credentials

NEXT_PUBLIC_OKTA_CLIENT_ID=""
NEXT_PUBLIC_OKTA_CLIENT_SECRET=""
NEXT_PUBLIC_OKTA_ISSUER="https://identity-preview.inl.gov"
NEXT_PUBLIC_NEXTAUTH_URL="http://localhost:3000"
NEXT_PUBLIC_AUTH_SECRET=""
NEXT_PUBLIC_API_URL="http://localhost:5095/api"
NEXT_PUBLIC_REDIRECT_LINK="http://localhost:3000"
