# developers- please contact someone on the UI team for the auth/okta credentials
OKTA_CLIENT_ID=""
OKTA_CLIENT_SECRET=""
OKTA_ISSUER="https://identity-preview.inl.gov"
NEXTAUTH_URL="http://localhost:3000"
AUTH_SECRET=""
NEXT_PUBLIC_API_URL="http://localhost:5095/api"